<section class="mx-auto px-5 py-24 text-gray-600">
	<h1 class="mb-4 text-center font-title text-3xl text-gray-800">Create Plant Data</h1>
	<p class="mb-12 text-center leading-loose text-gray-500">
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta earum obcaecati eum harum quas illum a
		voluptatem nulla cupiditate consectetur explicabo adipisci vero eos nisi minus, magni sunt mollitia. Voluptas.
	</p>
	<div class="md:grid md:grid-cols-3 md:gap-6">
		<div class="md:col-span-1">
			<div class="px-4 py-5 md:px-0">
				<h3 class="text-lg font-medium font-title leading-6 text-gray-800">Plant Details</h3>
				<p class="mt-1 text-sm text-gray-500">
					This information will be displayed publicly so be careful what you share.
				</p>
			</div>
		</div>
		<div class="mt-5 md:mt-0 md:col-span-2">
			<form action="/api/plants" method="POST" enctype="multipart/form-data">
				<div class="px-4 py-5 bg-white space-y-6 md:p-6">
					<div class="grid grid-cols-6 gap-6">
						<div class="col-span-6">
							<label for="name" class="block text-sm font-medium text-gray-700"> Plant name </label>
							<input
								type="text"
								name="name"
								id="name"
								class="mt-1 focus:ring-greenplant focus:border-greenplant block w-full -sm md:text-sm border-gray-300 rounded-md" required/>
						</div>

						<div class="col-span-6">
							<label for="description" class="block text-sm font-medium text-gray-700">
								Plant description
							</label>
							<div class="mt-1">
								<textarea
									id="description"
									name="description"
									rows="5"
									class="-sm focus:ring-greenplant focus:border-greenplant mt-1 block w-full md:text-sm border border-gray-300 rounded-md" required></textarea>
							</div>
							<p class="mt-2 text-sm text-gray-500">Brief description of the plant.</p>
						</div>

						<div class="col-span-6 md:col-span-3">
							<label for="category" class="block text-sm font-medium text-gray-700">Category</label>
							<select
								id="category"
								name="category"
								class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md -sm focus:outline-none focus:ring-greenplant focus:border-greenplant md:text-sm" required>
								<option value="" selected disabled>Choose</option>
								<option value="large-plant">Large plants</option>
								<option value="easy-care">Easy care</option>
								<option value="live-plant">Live plants</option>
								<option value="planter">Planters</option>
							</select>
						</div>

						<div class="col-span-6 md:col-span-3">
							<label for="price" class="block text-sm font-medium text-gray-700"> Price </label>
							<div class="mt-1 flex rounded-md -sm">
								<span
									class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 text-sm">
									Rp
								</span>
								<input
									type="number"
									name="price"
									id="price"
									class="focus:ring-greenplant focus:border-greenplant flex-1 block w-full rounded-none rounded-r-md md:text-sm border-gray-300"  required/>
							</div>
						</div>

						<div class="col-span-6" id="image-input">
							<label class="block text-sm font-medium text-gray-700"> Plant photo </label>
							<div
								class="mt-1 flex justify-center px-6 py-20 border-2 border-gray-300 border-dashed rounded-md">
								<div class="space-y-1 text-center">
									<svg
										class="mx-auto h-12 w-12 text-gray-400"
										stroke="currentColor"
										fill="none"
										viewBox="0 0 48 48"
										aria-hidden="true">
										<path
											d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
											stroke-width="2"
											stroke-linecap="round"
											stroke-linejoin="round" />
									</svg>
									<div class="flex text-sm text-gray-600">
										<label
											for="image"
											class="relative cursor-pointer bg-white rounded-md font-medium text-greenplant hover:text-greenplant focus-within:outline-none">
											<span>Upload an image</span>
											<input
												id="image"
												name="image"
												type="file"
												class="sr-only"
												onchange="openfile(event)" required/>
										</label>
										<p class="pl-1">or drag and drop</p>
									</div>
									<p class="text-xs text-gray-500">PNG, JPG, GIF up to 2MB</p>
								</div>
							</div>
						</div>

						<div class="col-span-6" id="image-output">
							<label class="block text-sm font-medium text-gray-700"> Plant photo </label>
							<img class="mt-1 rounded-md object-cover object-center border-2 border-gray-300 border-dashed p-1" id="image-place"></img>
						</div>
					</div>
					<div class="text-right">
						<button
							type="submit"
							class="inline-flex justify-center py-2 px-4 border border-transparent -sm text-sm font-medium rounded-md text-white bg-greenplant hover:bg-opacity-80 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-greenplant">
							Save
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			document.getElementById('image-output').classList.add('hidden');
		})
		var openfile = function (event) {
			document.getElementById('image-input').classList.add('hidden');
			document.getElementById('image-output').classList.remove('hidden');
			document.getElementById('image-place').src = URL.createObjectURL(event.target.files[0]);
		};
	</script>
</section>
