<nav class="mb-[10vh] border-b border-gray-100 bg-white">
	<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
		<div class="flex h-16 items-center justify-between">
			<div class="flex items-center">
				<div class="flex-shrink-0">
					<img class="h-8" src="/images/logo-green.svg" alt="Green Plant" />
				</div>
				<div class="hidden md:block">
					<div class="ml-10 flex items-baseline space-x-4">
						<a
							href="/"
							class="rounded-md px-3 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 focus:outline-none <% if (url == '') { %> bg-gray-100 <% } %>">
							Home
						</a>

						<a
							href="/plants"
							class="rounded-md px-3 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 focus:outline-none <% if (url == 'plants') { %> bg-gray-100 <% } %>">
							Plants
						</a>
						<% if (user && user.role == 'admin') { %>
						<a
							href="/admin"
							class="rounded-md px-3 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 focus:outline-none <% if (url == 'admin') { %> bg-gray-100 <% } %>">
							Admin
						</a>
						<% } %>
					</div>
				</div>
			</div>
			<% if (user) { %>
			<div class="ml-4 hidden items-center md:ml-6 md:block">
				<div class="relative ml-3" x-data="{ open: false }">
					<button
						type="button"
						class="flex items-center text-sm space-x-3 focus:outline-none"
						id="user-menu-button"
						aria-expanded="false"
						aria-haspopup="true"
						x-on:click="open = true">
						<span class="sr-only">Open user menu</span>
						<span class="text-sm text-gray-500"><%= user.username %> </span>
						<img class="h-8 w-8 rounded-full" src="/images/avatar.png" alt="" />
					</button>
					<div
						class="absolute right-0 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow"
						role="menu"
						aria-orientation="vertical"
						aria-labelledby="user-menu-button"
						tabindex="-1"
						x-show="open"
						x-on:click.away="open = false">
						<a
							href="/"
							class="block px-4 py-2 text-sm text-gray-500 hover:bg-gray-50"
							role="menuitem"
							tabindex="-1"
							id="user-menu-item-0">
							Your Profile
						</a>

						<form action="/api/logout" method="post">
							<button
								class="text-left w-full px-4 py-2 text-sm text-gray-500 hover:bg-gray-50"
								role="menuitem"
								tabindex="-1"
								id="user-menu-item-2">
								Sign out
							</button>
						</form>
					</div>
				</div>
			</div>
			<% } else { %>
			<div class="flex space-x-2 text-sm">
				<a href="/users/login" class="px-4 py-2 text-semibold rounded-md bg-greenplant text-white">Sign in</a>
			</div>
			<% } %>
			<div class="-mr-2 flex md:hidden">
				<button
					type="button"
					class="inline-flex items-center justify-center rounded-md bg-gray-100 p-2 text-gray-400 hover:bg-gray-200 focus:outline-none"
					aria-controls="mobile-menu"
					aria-expanded="false">
					<span class="sr-only">Open main menu</span>
					<svg
						class="block h-5 w-5"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						aria-hidden="true">
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M4 6h16M4 12h16M4 18h16" />
					</svg>
				</button>
			</div>
		</div>
	</div>

	<div class="hidden md:hidden" id="mobile-menu">
		<div class="space-y-1 px-2 pt-2 pb-3 sm:px-3">
			<a href="/" class="block rounded-md px-3 py-2 text-sm text-gray-500 hover:bg-gray-100" aria-current="page">
				Home
			</a>

			<a href="/plants" class="block rounded-md px-3 py-2 text-sm text-gray-500 hover:bg-gray-100"> Team </a>
		</div>
		<div class="border-t border-gray-100 pt-4 pb-3">
			<div class="flex flex-col px-5">
				<div class="font-bold text-gray-800">Tom Cook</div>
				<div class="text-sm text-gray-400">tom@example.com</div>
			</div>
			<div class="space-y-1 px-2 pt-2 pb-3 sm:px-3">
				<a href="#" class="block rounded-md px-3 py-2 text-sm text-gray-500 hover:bg-gray-100">
					Your Profile
				</a>

				<a href="#" class="block rounded-md px-3 py-2 text-sm text-gray-500 hover:bg-gray-100"> Settings </a>

				<a href="#" class="block rounded-md px-3 py-2 text-sm text-gray-500 hover:bg-gray-100"> Sign out </a>
			</div>
		</div>
	</div>
</nav>
